*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#e2f3f1 !important; 
}

.align-paragraph-1{
    width: 75%;
    height:auto; 
    color:#00000c;
}

.style-nav{
    width: 100%;
}

.fm-slogan{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-color{
    background-color:rgb(255, 255, 255, 0.1);;
    
}

.bg-banner{
    background-image: url(img/img-banner-transparent.png);
    width:100%;
    height:380px;
}

.row-padding{
    padding-top: 6rem;
}


@media (min-width:0px) and (max-width:495px)
{
    .bg-banner{
        background-image: url(img/img-banner-transparent.png);
        width:100%;
        height:auto;
        
    }

    .map{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:319px)
{
    .map{
        width: 150px;
        height: 200px;
    }
}

.font-mid{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* hr {
    clear: both;
    color: red;
    background-color: red;
    height: 1px;
    border-width: 0;
} */

.border-footer{
    border-top:solid;
    
}

.font-product{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rotate-icon{
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;

}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);    }
    }
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.rotate-icon2{
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;

}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);    }
    }
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.juntos{
    position: relative;
    width: 380px;
    padding-right: 20px;
    
}

/* .juntos2 {
    position: relative;
    width: 335px;
    
}
.juntos {
    
    box-shadow: -1rem 5px 1rem 0rem  rgba(0, 0, 0, 0.19);
    
}

.juntos2{
    box-shadow: 1rem 0rem 1rem 0 rgba(0, 0, 0, 0.19);
    
} */