
body{
    background-color:#e2f3f1 !important; 
}

.align-paragraph-1{
    width: 75%;
    height:auto; 
    color:#00000c;
}

.style-nav{
    width: 100%;
}

.fm-slogan{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-color{
    background-color:rgb(255, 255, 255, 0.1);;
    
}

.bg-banner{
    background-image: url(img/img-banner-transparent.png);
    width:100%;
    height:380px;
}

.row-padding{
    padding-top: 6rem;
}


@media (min-width:0px) and (max-width:495px)
{
    .bg-banner{
        background-image: url(img/img-banner-transparent.png);
        width:100%;
        height:auto;
        
    }

    .map{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:319px)
{
    .map{
        width: 150px;
        height: 200px;
    }
}

.font-mid{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}